<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="Qtech.AssetManagement.Win.Properties.Settings.amQtech_dbConnectionString" connectionString="Data Source=PHDS\MSSQL2014;Initial Catalog=amQtech_db;user id=sa; password=1234;" providerName="System.Data.SqlClient"/>
    <add name="Qtech.AssetManagement.Win.Properties.Settings.amQtechLog_dbConnectionString" connectionString="Data Source=PHDS\MSSQL2014;Initial Catalog=amQtechLog_db;user id=sa; password=1234;" providerName="System.Data.SqlClient"/>

    <!--<add name="Qtech.AssetManagement.Win.Properties.Settings.amQtech_dbConnectionString"
      connectionString="Data Source=LAPTOP-JQOUIJ2P\QTECHBSI;Initial Catalog=amQtech_db;user id=sa;password=1234;"
      providerName="System.Data.SqlClient" />
    <add name="Qtech.AssetManagement.Win.Properties.Settings.amQtechLog_dbConnectionString"
      connectionString="Data Source=LAPTOP-JQOUIJ2P\QTECHBSI;Initial Catalog=amQtechLog_db;user id=sa;password=1234;"
      providerName="System.Data.SqlClient" />-->
    
    <!--<add name="Qtech.AssetManagement.Win.Properties.Settings.amQtech_dbConnectionString"
      connectionString="Data Source=QTECHBSI\SQLEXPRESS2019;Initial Catalog=amQtech_db;user id=sa;password=1234;"
      providerName="System.Data.SqlClient" />
    <add name="Qtech.AssetManagement.Win.Properties.Settings.amQtechLog_dbConnectionString"
      connectionString="Data Source=QTECHBSI\SQLEXPRESS2019;Initial Catalog=amQtechLog_db;user id=sa;password=1234;"
      providerName="System.Data.SqlClient" />-->
    
    <!--<add name="Qtech.AssetManagement.Win.Properties.Settings.amQtech_dbConnectionString"
      connectionString="Data Source=lcbigmakserver;Initial Catalog=amQtech_db;user id=sa;password=Dell.password;"
      providerName="System.Data.SqlClient" />
    <add name="Qtech.AssetManagement.Win.Properties.Settings.amQtechLog_dbConnectionString"
      connectionString="Data Source=lcbigmakserver;Initial Catalog=amQtechLog_db;user id=sa;password=Dell.password;"
      providerName="System.Data.SqlClient" />-->


  </connectionStrings>
  <appSettings>
    <add key="Qtech.AssetManagement.Connection" value="Qtech.AssetManagement.Win.Properties.Settings.amQtech_dbConnectionString"/>
    <add key="Qtech.AssetManagement.ConnectionLog" value="Qtech.AssetManagement.Win.Properties.Settings.amQtechLog_dbConnectionString"/>
    <add key="Qtech.AssetManagement.DBProvider" value="System.Data.SqlClient"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>